.navbar {
    background-color: #64CEEC; 
  }

  .navbar-brand-container {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; 
}

  .navbar-toggler-icon {
    background-color: #ffffff; 
  }  
   .navbar-nav .nav-link {
    color: #ffffff; 
  }
  .navbar-nav .nav-link:hover {
    color: #ecf0f1;
  }
  body{
    background-color: #C9F3FF;
  }

  .footer {
    background-color: #f8f9fa;
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
}

.footer h4 {
    color: #3498db;
}

.footer p {
    margin-bottom: 0;
}

.navbar-nav .nav-link-politica {
  color: #3498db; /* Color del texto del enlace */
  font-weight: bold; /* Texto en negrita */
}

.navbar-nav .nav-link-politica:hover {
  color: #2070a0; /* Cambia el color al pasar el ratón */
}